<h1>We are Bike Berlin!</h1>
<p>The number one destination in Berlin for your bicycling needs since 2000. Thats over 15 years!</p>
<h2>Need a bike then you're in the right place</h2>
<h3>Order your bike now</h3>