<div class="container">
  <h1>Bike Berlin</h1>
  <p>Thanks for checking out our app. If you need to get in contact with us you can find our information below</p>
  <ul>
	<li>Phone: 555-XXXX</li>
	<li>Location: Spandauer Str. 3, 10178 Berlin, Germany</li>
</div>

