<h1 class="headline">Welcome to Bike Berlin</h1>
<div class="container-fluid">
  <%= image_tag("landing.jpg", class:"img-responsive bikeimg") %>
  <h2 class="underimg">Your #1 source for used bikes in Berlin!</h2>
</div>

