// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.searchicon {
	color: blue;
}

.buttonsearch {
	background-color: yellow;
}


.bikeimg {
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.underimg {
	float:right;
}

.headline,
.underimg {
	font-family: 'Oswald', sans-serif;
	color: black;
}