// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body { 
padding-top: 70px;
background-color:#006699;
}

.site-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}

.bikeimg {
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.underimg {
	float:right;
}

.headline,
.underimg {
	font-family: 'Oswald', sans-serif;
	color: #ffcc00;
}