<div class= "container">
  
  <div class="container">
    <p id="notice"><%= notice %></p>
  </div>

  <h1 class= "text-center">Our Bikes!</h1>
  
  <div class= "row">
    <% cache(cache_key_for_products) do%>
      <%= render @products %>
    <% end %>
  </div>

</div>